* {
    box-sizing: content-box;
    font-family: "helvetica";
  }
  
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .button {
    font-size: 16px;
    font-weight: 300;
    padding: 8px 10px;
    border-radius: 3px;
    width: 70px;
    height: 30px;
  }
  
  .button:hover {
    box-shadow: 0 0 10px lightgray;
    cursor: pointer;
  }
  
  .counter {
    font-size: 20px;
    font-weight: 100;
    padding: 20px;
  }
  